<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kazufukurou.nanji">

  <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/appName"
    android:theme="@style/MyTheme">
    <activity
      android:name=".ui.MainActivity"
      android:label="@string/appName"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.AppearanceActivity"
      android:theme="@style/MyTheme.Dark"
      android:windowSoftInputMode="stateHidden"
      android:label="@string/appearance" />

    <receiver android:name=".ui.WidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_info" />
    </receiver>
  </application>
</manifest>
